# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/VulkanEngine/FileContentIndex
/.vs
/VulkanEngine/x64
/x64
/VulkanEngine.vcxproj.user
/pipeline_cache_data.bin
/VulkanEngine.pdb
/imgui.ini
